body {
  font-family: 'Lato', sans-serif !important;
  background-color: rgba(27, 33, 61, 0.911)  !important;
  color: var(--primary-white) !important;
}

:root { /*  creating the variables for our colors */
  --primary-white: rgb(233, 233, 233);
  --primary-purple: rgb(140, 127, 214);
  --primary-dark: rbga(255, 255, 255, 0);
  --primary-green: rgb(0, 155, 0);
  --primary-yellow: rgb(202, 202, 6);
  --primary-grey: rgba(114, 114, 114, 0.096);
  --primary-purp: rgba(27, 33, 61, 0.911);
  --primary-blue: rgba(12, 20, 53, 0.959);
  --primary-aqua: rgba(106, 230, 252, 0.959);
  --primary-purple-grey: rgba(27, 33, 61, 0.911);
  --primary-red: rgb(184, 0, 0);
  --primary-pearl-white: rgb(224, 224, 224);
}

/**************************************** NAVBAR ****************************************/

.container {
  padding: 0.125rem 0.125rem 0.125rem 0.625rem; /* I changed these for the container of nav to fit the resume button nicely */
  margin: 0rem 0.1rem 0rem 0rem;
}

.navbar {
  background-color: rgb(50, 57, 87) ;
}


.nav-link { /* this is referencing the navbar spacing and cursor type */
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

/* .navbar {
  margin: 0rem -2rem 0rem -2rem;
} */

nav ul li { /* this is referencing the navbar text */
  /* text-transform: uppercase; */
  font-size: 0.8rem;
}

.navbar-nav > li > a { /* this is how we reference the anchor tag that lives within the li tag within the navbar tag... this is the positioning of the nav bar links */
  margin-right: 1rem;
  margin-left: 0.10rem; 
  color: var(--primary-white); /* !important is necessary to overwrite the bootstrap rules in order for the colors here to work */
  /* border-top: 0.1875rem solid var(--primary-purp); this is supposed to be the line that restricts the links from jumping since it wouldnt have the border on the top of the links */
}

.navbar-brand {
  max-width: 17.25rem;
  color: var(--primary-white);
  /* padding: 0 !important; */
  height: 3rem !important;
  /* margin: 0rem 0rem 0rem -4rem;  moved the logo to the left more */
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  /* this is taking all of the links to style. a.active and a:focus are allowing the links to "be active" on the clicks */
  /* border-top: 0.1875rem solid var(--primary-yellow); */
}

.navbar-nav > li > a:hover {
  /* this is the action for when the cursor is hovering on the links */
  /* border-top: 0.1875rem solid var(--primary-purp); */
  color: var(--primary-aqua);
}

/**************** RESUME BUTTON ************************/

.resume-button { /* styling for the resume button */
  border: 0.063rem solid var(--primary-grey);
  /* text-transform: uppercase; */
  /* border-radius: 0; */
  border-width: 0.20rem;
  padding: 0.325rem 0.625rem 0.325rem 0.625rem; 
  color: var(--primary-white);
  /* margin: 0.2rem;  --commented out for testing */
  background-color: var(--primary-blue);
  /* font-weight: 1000; */
  border-radius: 10%;
  /* margin: 0rem -3rem 0rem 3rem;  moved the button further right */
}

.resume-button:hover { /* so when the user hovers over the button, it highlights */
  text-decoration: none;
  background-color: rgba(57, 150, 167, 0.959);
  border-color: rgba(36, 104, 116, 0.959);
  color: var(--primary-white);
  transition: 0.2s ease-in-out;
  border-radius: 11%;
  border-width: 0.20rem;
}
/* rgba(24, 71, 223, 0.315) */
/**************************************** HEADER ****************************************/

.header-wraper { /* background image of the header ( image of my one ) */
  position: relative;
  background-image: url("https://wallpaperaccess.com/full/983286.jpg");
  background-size: cover;
  opacity: 0.8;
  background-position: center;
  height: 90vh;
}

.main-info { /* the information in the header, "Hi, my name is Stephanie" */
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* these top/left/right/bottom lines center the position of main-offer*/
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* h5 {
  text-align: left;
  align-items: left;
} */

.main-info h1 { /* header text colors */
  color: var(--primary-aqua);
  font-family: 'Noto Sans TC', sans-serif;
}

/**************************************** TYPED TEXT ****************************************/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}


/**************************************** ABOUT ME ****************************************/

#About-Me {
margin-bottom: 0rem;
}

.container-about {
  margin: 5rem 2rem 0rem 2rem;
  text-align: left;
}

#About-Me.container-about {
  padding-bottom: 0 !important;
}

h1.header-about {
  text-align: left;
  font-size: 2rem;
  font-family: 'Comfortaa', cursive;
  padding-left: 0;
  margin-left: 0;
}

p {
  line-height: 1.8rem;
  /* font-family: 'Lato', sans-serif; */
}

.img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.profile-img {
  width: 16rem;
  height: 11rem;
  padding: 0.3rem;
  border: 3px solid var(--primary-aqua);
  border-radius: 2%;
  margin-right: 3rem;
}

.container-about {
  margin: 5rem 2rem 0rem 2rem;
  margin-bottom: 0;
}

@media(max-width: 468px) {
  .profile-img {
    width: 16rem;
    text-align: center;
  }

  .img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin: 5rem 2rem 5rem 5rem;
  }

  h1.header-about {
    text-align: center;
  }

  p {
    line-height: 1.8rem;
    margin-bottom: 4rem;
  }
}

@media(min-width: 1024px) {
  .header-about {
    text-align: left;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 1rem 1rem 1rem;
    font-size: 2.2rem;
  }

  .container-about {
    margin: 5rem 2rem 5rem 2rem;
    padding: 5rem 1rem 5rem 10rem;
  }

  .profile-img {
    padding: 0.3rem;
    background-position-x: left;
    margin-right: 3rem;
    margin-left: -5rem;
  }

  .img-wrap {
    padding: 1rem;
    margin-bottom: 8rem;
    margin-right: 5rem;
  }

  .img-wrap {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 5rem;
    margin-right: 5rem;
  }

}

@media(min-width: 1200px) {
  .container-about {
    margin: 5rem 2rem 5rem 2rem;
    padding: 5rem 1rem 5rem 15rem;
  }
}

/**************************************** EXPERIENCE ****************************************/
/* this is the padding to the left of the marker line when in mobile view */
.experience {
  padding: 0.2rem;
  padding: 1rem 1rem 1rem 1rem;
  margin: 3rem 1rem 6rem 1rem;
}

.experience-header {
  font-family: 'Comfortaa', cursive;
  font-size: 2rem;
}

.experience-wrapper {
  position: relative;
  padding: 3.1255rem 0;
  overflow: hidden;
  background-color: var(--primary-grey);
  border-radius: 1rem;
  opacity: .8;
  /* background-repeat: repeat; this aint repeating btw*/
}

/* the header of experience*/
.experience h5 {
  color: var(--primary-aqua);
  font-size: 1.3rem;
  font-family: 'Libre Baskerville', serif;
}

.dates {
  text-align: right;
}

.city-name {
  text-align: right;
}

.exp-content-pad {
  padding-top: 1rem;
}

/* the circles on the timeline*/
.experience-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-white);
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

/* placement of the container on the right */
.timeline-block-right {
  float: right;
}

/* placement of the container on the left */
.timeline-block-left {
  float: left;
  direction: rtl;
}

/* the timeline line */
.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 20%;
  border: 0.3125rem solid var(--primary-aqua);
  background: var(--primary-blue);
  margin-top: 0.625rem;
  z-index: 3;
}

/* this is the actual text context of timeline */
.timeline-content {
  width: 95%;
  padding: 0 0 0.9375rem;
  color: var(--primary-white);
  direction: ltr;
  background-color: var(--primary-blue);
  border-radius: 1rem;
  font-size: 0.875rem;
  padding: 1rem 2rem 0 2rem;
}

/* color of the years of timeline */
.timeline-content h3 {
  margin-top: 0.3125;
  color: var(--primary-aqua);
  font-weight: 500;
  padding: 0.5rem 0 0 0;
}

/* this positions the year on the timeline next to the marker line */
.year-pos-right {
  text-align: right;
}

/* ----------- MEDIA --------------*/

@media(max-width: 768px) {
  .experience .container {
    padding-left: 0;
  }
  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  /* the width lets the mobile view cover the 100% of the page*/
  .timeline-block-right {
    float: none;
    width: 100%;
    padding-bottom: 1rem;
  }
  /* the width lets the mobile view cover the 100% of the page*/
  .timeline-block-left {
    float: none;
    direction: ltr;
    width: 100%;
    font-size: 0.8em;
    padding-bottom: 1rem;

  }
  .year-pos-right {
    text-align: left;
  }
}

/**************************************** SERVICES ****************************************/

h1.tech {
  font-size: 1.5rem !important;
  padding-bottom: 0;
}

.project-wrapper {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  text-align: left;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 1rem 1rem 1rem;
}

.services-icons {
  text-align: center;
}

.icon {
  margin: 0 3rem 3rem 3rem;
  margin-top: 0;
  color: rgb(0, 195, 255);
}

.icon-git {
  margin: 0 3rem 3rem 0.8rem;
  margin-top: 0;
  color: rgb(0, 195, 255);
}

.icon-ghub {
  margin: 0 3rem 3rem 3.5rem;
  margin-top: 0;
  color: rgb(0, 195, 255);
}

.icon-lroom {
  margin: 0 3rem 3rem 4rem;
  margin-top: 0;
  color: rgb(0, 195, 255);
}

.icon-pshop {
  margin: 0 1rem 3rem 4rem;
  margin-top: 0;
  color: rgb(0, 195, 255);
}

@media(max-width: 768px){
  .icon-lroom {
    margin: 0 3rem 3rem 0rem;
    margin-top: 0;
    color: rgb(0, 195, 255);
  }
  
  .icon-pshop {
    margin: 0 1.5rem 3rem 4.5rem;
    margin-top: 0;
    color: rgb(0, 195, 255);
  }
  
  .icon-git {
    margin: 0 3rem 3rem 2rem;
    margin-top: 0;
    color: rgb(0, 195, 255);
  }
  
  .icon-ghub {
    margin: 0 3rem 3rem 3.5rem;
    margin-top: 0;
    color: rgb(0, 195, 255);
  }
}

/**************************************** PROJECTS ****************************************/
/* padding above the word projects*/
.project-wrapper {
  padding: 0;
}

.container h1 {
  font-size: 2rem;
  font-family: 'Comfortaa', cursive;
}

/* image sizes and border and padding */ 
.project-image {
  width: 15rem;
  height: 8rem;
  border: 1px solid var(--primary-aqua);
  padding: 0 0.5rem;
}

.project-image-box {
  position: relative;
  margin: 1rem;
}

.image-box-wrapper {
  padding-bottom: 6rem;
}

/* ----------- OVERFLOW --------------*/

.overflow {
  position: absolute;
  opacity: 0;
  background: var(--primary-blue);
  width: 15rem;
  height: 8rem;
  top: 0;
  border: 1px solid var(--primary-aqua);
  cursor: pointer;
}

.project-image-box:hover .overflow {
  opacity: 60%;
  transition: 0.3s;
}

/* ----------- OVERFLOW BOX --------------*/
.projects-image-popupbox {
  width: 45rem;
  padding: 0 0.5rem;
  color: black;
}

.link-name {
  color: black;
}

.para-desc  {
  color: black;
}

.hyper-link {
  cursor: pointer;
  color: var(--primary-blue);
}

.hyper-link:hover {
  color: blue;
}

/* ----------- MEDIA --------------*/
/* so teh popupbox responds in the mobile version */
@media(max-width: 768px){
  .projects-image-popupbox {
    width: 100%;
  }
}

@media(max-height: 640px){
  .project-wrapper {
    height: 100%;
  }
  .projects-image-popupbox {
    width: 40%;
  }
}
/**************************************** CONTACT ****************************************/

.contact {
  background: var(--primary-dark);
  padding: 3rem 0;
}

.contact h1 {
  color: var(--primary-white);
  padding: 1.3rem 0;
  font-size: 2rem;
  font-family: 'Comfortaa', cursive;
}

.contact p {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
}

/* ----------- INPUTS --------------*/

.contact input, .contact textarea {
  width: 100%;
  box-sizing: border-box;
  background: white;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--primary-grey);
  border-radius: 0.3rem;
  color: var(--primary-blue);
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0.1 !important;
}

.contact .container {
  padding: 4rem 0;
}

.contact input:focus, .contact textarea:focus {
  background: rgba(158, 230, 252, 0.705);
  color: var(--primary-blue);
  border-bottom: 0.125rem solid var(--primary-grey);
  font-weight: 800;
}

.contact textarea {
  height: 12.5rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0 ;
  width: 100%;
  color: var(--primary-white);
  background-color: var(--primary-blue);
  border: 0.063rem solid var(--primary-grey);
  border-radius: 10%;
  border-width: 0.20rem;
  padding: 0.325rem 0.625rem 0.325rem 0.625rem; 
}

.contact-btn:hover {
  text-decoration: none;
  background-color: rgba(57, 150, 167, 0.959);
  border-color: rgba(36, 104, 116, 0.959);
  color: var(--primary-white);
  transition: 0.2s ease-in-out;
  border-radius: 11%;
  border-width: 0.20rem;
}

.error-message {
  color: var(--primary-red);
  text-align: left;
}

.success-message {
  font-weight: 900;
  color: rgb(0, 145, 0);
  padding: 0.3rem;
  font-size: 2rem;
}

/* ----------- MEDIA --------------*/

@media(max-width: 768px){
  .contact {
    overflow-x: hidden;
  }
  .contact .container {
    padding: 0 1rem;
  }
  .contact p {
    padding: 0 0.9rem;
  }
}

/**************************************** FOOTER ****************************************/

.footer {
  background: rgb(49, 49, 49);
  color: var(--primary-aqua);
  padding: 3rem;
}


.footer a {
  text-decoration: none;
  color: var(--primary-aqua);
}

.footer a:hover {
  text-decoration: none;
  color: rgb(5, 161, 252);
  cursor: pointer;
}

footer p {
  margin-bottom: 0;
}