body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: rgba(27, 33, 61, 0.911) !important;
  color: var(--primary-white) !important;
}

:root { /*  creating the variables for our colors */
  --primary-white: #fff;
  --primary-purple: rgb(140, 127, 214);
  --primary-dark: rbga(255, 255, 255, 0);
  --primary-green: rgb(0, 155, 0);
  --primary-yellow: rgb(202, 202, 6);
  --primary-grey: rgba(114, 114, 114, 0.096);
  --primary-purp: rgba(27, 33, 61, 0.911);
  --primary-blue: rgba(12, 20, 53, 0.959);
  --primary-aqua: rgba(106, 230, 252, 0.959);
}

/**************************************** NAVBAR ****************************************/

.container {
  padding: 0.125rem 0.125rem 0.125rem 0.625rem; /* I changed these for the container of nav to fit the resume button nicely */
  margin: 0rem 0.1rem 0rem 0rem;
}


.nav-link { /* this is referencing the navbar spacing and cursor type */
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

/* .navbar {
  margin: 0rem -2rem 0rem -2rem;
} */

nav ul li { /* this is referencing the navbar text */
  /* text-transform: uppercase; */
  font-size: 0.8rem;
}

.navbar-nav > li > a { /* this is how we reference the anchor tag that lives within the li tag within the navbar tag... this is the positioning of the nav bar links */
  margin-right: 1rem;
  margin-left: 0.10rem; 
  color: var(--primary-white) !important; /* !important is necessary to overwrite the bootstrap rules in order for the colors here to work */
  /* border-top: 0.1875rem solid var(--primary-purp); this is supposed to be the line that restricts the links from jumping since it wouldnt have the border on the top of the links */
}

.navbar-brand {
  max-width: 17.25rem;
  color: var(--primary-white) !important;
  /* padding: 0 !important; */
  height: 3rem !important;
  /* margin: 0rem 0rem 0rem -4rem;  moved the logo to the left more */
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  /* this is taking all of the links to style. a.active and a:focus are allowing the links to "be active" on the clicks */
  /* border-top: 0.1875rem solid var(--primary-yellow); */
}

.navbar-nav > li > a:hover {
  /* this is the action for when the cursor is hovering on the links */
  border-top: 0.1875rem solid var(--primary-purp);
}

.resume-button { /* styling for the resume button */
  border: 0.063rem solid var(--primary-grey);
  /* text-transform: uppercase; */
  /* border-radius: 0; */
  border-width: 0.20rem;
  padding: 0.325rem 0.625rem 0.325rem 0.625rem; 
  color: var(--primary-white);
  /* margin: 0.2rem;  --commented out for testing */
  background-color: var(--primary-blue);
  /* font-weight: 1000; */
  border-radius: 10%;
  /* margin: 0rem -3rem 0rem 3rem;  moved the button further right */
}

.resume-button:hover { /* so when the user hovers over the button, it highlights */
  text-decoration: none;
  background-color: rgba(24, 71, 223, 0.315);
  color: var(--primary-white);
  transition: 0.2s ease-in-out;
  border-radius: 11%;
}

/**************************************** HEADER ****************************************/

.header-wraper { /* background image of the header ( image of my one ) */
  position: relative;
  /*background: url("DSC_0406.jpg");*/
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.main-info { /* the information in the header, "Hi, my name is Stephanie" */
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* these top/left/right/bottom lines center the position of main-offer*/
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* h5 {
  text-align: left;
  align-items: left;
} */

.main-info h1 { /* header text colors */
  color: var(--primary-white);

}

/**************************************** TYPED TEXT ****************************************/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white)
}


/**************************************** RESUME BUTTON ****************************************/

.btn-main-offer {
  border: 1px solid var(--primary-aqua);
  text-transform: uppercase;
  border-radius: 0;
  border-width: 0.20rem;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem; /* convert from px to rem */
  color: var(--primary-white);
  margin: 2rem;
  background-color: rgba(194, 186, 115, 0.322);
  font-weight: 1000;
}

/**************************************** ABOUT ME ****************************************/


.header-about {
  text-align: left;
  /* text-transform:; */
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 1rem 1rem 1rem;
  font-size: 1.2rem;
}

p {
  line-height: 1.8rem;
}

.img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 16rem;
  height: 11rem;
  padding: 0.3rem;
  border: 1px solid var(--primary-aqua);
  border-radius: 2%;
}

.container-about {
  margin: 5rem 2rem 5rem 2rem;

}

@media(max-width: 468px) {
  .profile-img {
    width: 16rem
  }
}

/**************************************** EXPERIENCE ****************************************/
/* this is the padding to the left of the marker line when in mobile view */
.experience {
  padding: 0.2rem;
}

.experience-wrapper {
  position: relative;
  padding: 3.1255rem 0;
  overflow: hidden;
  background-color: var(--primary-grey);
  opacity: .8;
  /* background-repeat: repeat; this aint repeating btw*/
}

/* the header of experience*/
.experience h1 {
  color: var(--primary-white);
  font-size: 1.2rem;
}

/* the circles on the timeline*/
.experience-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-white);
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

/* placement of the container on the right */
.timeline-block-right {
  float: right;
}

/* placement of the container on the left */
.timeline-block-left {
  float: left;
  direction: rtl;
}

/* the timeline line */
.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 20%;
  border: 0.3125rem solid var(--primary-aqua);
  background: var(--primary-blue);
  margin-top: 0.625rem;
  z-index: 3;
}

/* this is the actual text context of timeline */
.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary-white);
  direction: ltr;
  background-color: var(--primary-blue);
  border-radius: 1rem;
  font-size: 0.875rem;
  padding: 0 5rem 0 5rem;
}

/* color of the years of timeline */
.timeline-content h3 {
  margin-top: 0.3125;
  color: var(--primary-aqua);
  font-weight: 500;
  padding: 0.5rem 0 0 0;
}

/* this positions the year on the timeline next to the marker line */
.year-pos-right {
  text-align: right;
}

/* ----------- MEDIA --------------*/

@media(max-width: 768px) {
  .experience .container {
    padding-left: 0;
  }
  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  /* the width lets the mobile view cover the 100% of the page*/
  .timeline-block-right {
    float: none;
    width: 100%;
  }
  /* the width lets the mobile view cover the 100% of the page*/
  .timeline-block-left {
    float: none;
    direction: ltr;
    width: 100%;
  }
}